<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Background Remover App</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		{{ dropzone.load() }}
		{{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
	</head>

	<body>
		<div class="container">
			<h1>Upload your images!</h1>
			<hr>
			<button type="button" class="btn btn-primary" id="initilize" onclick="initilize();">Initilize Model</button><br><br>
			<input type="checkbox" value="bnw" id="bnw" style="margin-right:10px;"><label for="bnw"> Black and White(☑)/Colored(☐)</label><br>
			<input type="checkbox" value="bgwhite" id="bgwhite" style="margin-right:10px;"><label for="bgwhite"> Background White(☑)/Transparent(☐)</label>
			{{ dropzone.create(action_view='bg_remove') }}
		</div>
		<script>
			var data;
			$("#bnw").change(function() {
				if(this.checked) {
					data = {"bnw": "True"}
					switch_env("#bnw")
				} else {
					data = {"bnw": "False"}
					switch_env("#bnw")
				}
			});
			$("#bgwhite").change(function() {
				if(this.checked) {
					data = {"bgwhite": "True"}
					switch_env("#bgwhite")
				} else {
					data = {"bgwhite": "False"}
					switch_env("#bgwhite")
				}
			});
			function switch_env(element) {
				$.ajax({
					type: "POST",
					contentType: 'application/json',
					data: JSON.stringify(data),
					url: "/switch/config",
					dataType: "json",
					success: function(data) { 
						console.log(data);                    
					},
					error: function(jqXHR) {
						console.log(jqXHR);
					}
				})
			}
			function initilize() {
				$("#initilize").toggleClass('btn btn-primary');
				$("#initilize").html('Model Initilizing...');
				$.ajax({
					type: "GET",
					contentType: 'application/json',
					url: "/initilize",
					dataType: "json",
					success: function(data) { 
						console.log(data);
						$("#initilize").toggleClass('btn btn-success');
						$("#initilize").html('Model Initilized');
						$("#initilize").prop("disabled",true);              
					},
					error: function(jqXHR) {
						console.log(jqXHR);
						$("#initilize").toggleClass('btn btn-danger');
						$("#initilize").html('Model Not Initilized');
					}
				})
			}
		</script>
	</body>
</html>